<html>
    <head>
        <title>Saskia's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Saskia's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Blog 1 is live! Woehoe</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>En daar is blog 2!</p>
        </div>
    </body>
</html>